[2019-01-15 20:43] emreerhan opened #1 "Organizer recruiting for hackseq19"
Please comment below or email us at hackseq [at] gmail.com if you are interested in helping organize hackseq19. We are not currently looking for hard commitments.

If you would like to learn more about hackseq, check out previous iterations of this hackathon at www.hackseq.com, and read the [f1000 paper](https://f1000research.com/articles/6-197/v1) about hackseq16.

If you would like to learn more

[2019-01-15 20:54] baraaorabi commented on #1
I'm in!

[2019-01-15 22:13] saberhq commented on #1
I will be very happy to help. I'm in as well.

[2019-01-15 23:08] nedashokraneh commented on #1
Probably, I'm not here at summer, but I could help remotely if needed. If it is not the problem, I would like to help too.

[2019-01-15 23:34] kfgibson commented on #1
I'm also interested in helping!

[2019-01-16 18:17] NoushinN commented on #1
I am interested for remote help from Vancouver Island as well if there'e a possibility, perhaps at social media capacity

[2019-01-16 22:39] itsDagu commented on #1
Interested in helping! Looking forward to meeting with y'all.

[2019-01-17 22:47] oganm commented on #1
Still need people? Also do we also get to code if are organising stuff?

[2019-01-17 22:57] emreerhan commented on #1
@oganm we're not looking for any particular number of organizers. Over the last 3 years we've had between 7-10 organizers, and we currently have 8 people who have expressed interest in organizing this year. I believe we can have as many organizers as people willing to contribute, as long as we remain at some reasonable number.

tl;dr the more the merrier!

edit: And yes, you may also take part as

[2019-01-17 23:04] oganm commented on #1
Sounds good to me then.

[2019-01-21 03:15] scatcher125 commented on #1
I'd love to help organize as well :)

[2019-01-22 02:42] alexsweeten commented on #1
Count me in again :)

[2019-01-22 02:57] bfjia commented on #1
I'd be interested in organizing again!

[2019-02-01 21:40] emreerhan opened #2 "0th Organizational Meeting"
Hello hackseq19 organizers,

Please vote [at this doodle poll](https://doodle.com/poll/x3m5rau6yg9iz9x5) for your availability to meet. The objective of the meeting will be to organize ourselves into a working group, divide tasks and establish a rough timeline for when/what needs to be accomplished.

Please get in touch with motivated and competent individuals and refer them to this issue if they

[2019-02-01 21:42] emreerhan commented on #1
Hello everyone! Thank you for showing interest in organizing hackseq19. Please see [this issue](https://github.com/hackseq/hackseq19/issues/2) and fill out [this doodle poll](https://doodle.com/poll/x3m5rau6yg9iz9x5) if you are still interested in organizing.

Let me know if you have any questions

[2019-02-04 19:18] NoushinN commented on #2
Would joining online be possible? I don't want to impose bad practice as far as attendance goes for these meetings but I am on the Island! If team sees fit, I can take on some activities remotely :)

[2019-02-11 17:32] ababaian commented on #2
What's the plan @emreerhan?

[2019-02-11 20:19] emreerhan commented on #2
Hi everyone, let's meet February 21 at 6:00pm. I will book a room at the GSC or BCCRC and let you know where we're meeting this week.

[2019-02-11 20:29] emreerhan commented on #2
@NoushinN I don't want to speak for the rest of the group, but I personally think it will be difficult to video call you into a meeting with 8-10 people. If you think it can work, we can give it a shot and see if we want to allow the remote option for future meetings.

Regardless, I think you can certainly take on some responsibilities remotely!

[2019-02-11 23:14] NoushinN commented on #2
Hi @emreerhan, sounds good. I can also keep updated based on meeting notes and work on things that get delegated to me remotely. Will send the call specifics before the meeting on 21st.

[2019-02-12 05:41] emreerhan commented on #2
We will meet in the Smith Rm. at the Genome Sciences Centre at 570 W 7th Ave. Let's meet in the lobby at 5:55pm, and I'll take us all up to the room.

[2019-02-20 01:36] baraaorabi commented on #2
This is a reminder that we are meeting this Thurs, in two days.

[2019-02-20 21:26] NoushinN commented on #2
I can be reached through the following:

Join by Phone
Local - Vancouver: +1 (604) 398-9304,, 5692673#
Toll-Free: +1 (888) 952-9304,, 5692673#
Local - Victoria: +1 (250) 952-9304,, 5692673#
Find a local number

Conference ID: 5692673

IF I don't hear back, I will wait for meeting updates

[2019-02-21 18:24] baraaorabi commented on #2
Cya all at 5:55pm today!

[2019-02-22 01:42] scatcher125 commented on #2
Is it too late to join the meeting? I can be present digitally for today's meeting at 6 pm :)

[2019-02-22 01:46] emreerhan commented on #2
@scatcher125 If we can get you on the same platform @NoushinN is on, then yes you may. I'm not sure how this conference call works, but you may be able to just call the number and enter the conference ID. @NoushinN can you confirm if you see this on time?

[2019-02-22 01:46] itsDagu commented on #2
Same, I will be unable to join the meeting physically, but I will be present online at 6pm.

[2019-02-22 01:46] scatcher125 commented on #2
Thankyou! I'll try calling at 6:00

[2019-02-22 02:04] emreerhan commented on #2
Fyi we haven't started yet. Will keep you updated.

[2019-02-22 02:06] emreerhan commented on #2
We are going upstairs. If you arrive later please message here or text/call me at 604 779 6549

[2019-02-22 02:08] NoushinN commented on #2
Hi @emreerhan there are 3 of us on the line so if someone can connect at GSC we can all hear you
Local - Vancouver: +1 (604) 398-9304,, 5692673#
Toll-Free: +1 (888) 952-9304,, 5692673#
Local - Victoria: +1 (250) 952-9304,, 5692673#

[2019-02-23 20:02] arisgrout commented on #2
Hi All, are minutes available from Thursday? I wasn't able to attend. Hope it went well, cheers!

[2019-02-25 18:02] emreerhan commented on #2
Minutes are up

Hey @arisgrout! Check out the [new meeting issue](https://github.com/hackseq/hackseq19/issues/3) and fill out the doodle poll. Make sure you're watching the hackseq19 repo to keep updated with all the conversations!

[2019-02-25 18:12] emreerhan opened #3 "1st Organizational Meeting"
Hello hackseq19 organizers,

## We'll meet ** April 3, 2019 at 6:00pm at the Genome Sciences Centre, 570 W 7th Ave, Vancouver**

Please aim to be here at 5:55pm. We'll meet in the lobby and I'll take us up to the 5th floor.

## Agenda Items (feel free to add)
- Hello
- Positions
- Logistics
- Partnerships
  - Ecoscope
  - Compute Canada; bioinformatics help desk
- @baraaorabi: Mailchimp update

-

[2019-02-25 18:14] emreerhan commented on #1
Hi @SaberHQ @oganm @kfgibson @nedo0shki @jenjaelin ,

Check out the minutes for the first meeting [here](https://github.com/hackseq/hackseq19/issues/2) and if you're still interested in organizing, fill out [this doodle poll](https://doodle.com/poll/huhz6pxswgukmepq) for the second meeting. Make sure you're 'watching' the repo to keep up to date with new conversations.

Let me know if you have que

[2019-02-27 15:50] bencardoen commented on #1
Hi @emreerhan , I've filled in the doodle, if there's something left to do in the organizational committee, count me in

[2019-03-06 18:52] jenjaelin commented on #3
Heya! have you picked a date yet? Looks like March 27th and April 3rd at 18:00 are the most popular :)

[2019-03-06 20:37] emreerhan commented on #3
I'm going to book a room for April 3 today. I just wanted to make sure the room was booked before I informed everybody.

[2019-03-12 05:33] emreerhan commented on #3
@hackseq/hs19_organizers meeting date is April 3 at the GSC. Let me know if you have questions :)

[2019-03-12 06:12] NoushinN commented on #3
this is me on that day:

**Join by Phone**
Local - Vancouver: +1 (604) 398-9304,, 5692673#
Toll-Free: +1 (888) 952-9304,, 5692673#
Local - Victoria: +1 (250) 952-9304,, 5692673#

[2019-03-12 07:12] klgray25 commented on #3
Will you be calling people in again for the meeting? I will be out of town, so would like to join if that's the case. If not, I'll just read the meeting notes!

[2019-03-13 05:45] NoushinN commented on #3
@klgray25 sure, let's both be on the call then...you can join through any of the numbers

[2019-03-14 00:29] ababaian commented on #3
Hey all,

The application for Amazon computing credits would be coming up end of [March](https://aws.amazon.com/research-credits/). Probably worth applying to.

[2019-03-14 01:44] bencardoen commented on #3
@emreerhan  Would it be interesting for Compute Canada to support us? They have a whole bioinformatics helpdesk, and might be persuaded to donate resources (CPU, GPU, storage)? I know they do it for workshops etc. If anyone's interested I can reach out to them.

[2019-03-14 16:00] NoushinN commented on #3
another opportunity to seek for sponsorship or other storage/computing support can be with [westgrid](https://www.westgrid.ca)

[2019-03-19 20:56] emreerhan commented on #3
@NoushinN @klgray25 I believe the phone conference did not work very well for the last meeting. Unless you (or anyone else) believes strongly that we should continue having the phone conference, I would prefer that we didn't.

[2019-03-19 20:57] emreerhan commented on #3
@bencardoen We discussed this in person, but I'll comment here as well. In previous years, we've used GSC's [ORCA](http://www.bcgsc.ca/services/orca) which is affiliated with Compute Canada. I think it would be interesting to also seek out a partnership with their bioinformatics helpdesk. We can discuss this in the next meeting!

[2019-03-19 22:37] klgray25 commented on #3
No phone conference is fine with me. I'll read the notes. See you guys in May instead then!

[2019-03-27 22:12] emreerhan commented on #3
Hey @hackseq/hs19_organizers

This is a reminder that we'll be meeting next Wednesday (April 3) at the GSC. For those of you who are attending for the first time, please take a look through the meeting minutes for the last meeting, and think about what kind of role you might want to have for hs19.

The [organizational wiki](https://github.com/hackseq/hackseq18/wiki) from last year will be of help.

[2019-04-02 19:52] emreerhan commented on #3
@hackseq/hs19_organizers

Final reminder that we will be meeting tomorrow (April 3) at the GSC at 6pm. Please aim to get here at 5:55pm so we can all meet in the lobby before I take us up to the room.

[2019-04-03 22:08] baraaorabi commented on #3
Cya all @hackseq/hs19_organizers this evening!

[2019-04-03 22:36] jenjaelin commented on #3
Hey! some course related meeting came up last min for me and I won't be
able make it.

On Wed, Apr 3, 2019 at 3:08 PM baraaorabi <notifications@github.com> wrote:

[2019-04-03 23:59] emreerhan commented on #3
@jenjaelin sounds good! Did you want to be secretary again this year, Jen?

[2019-04-04 00:11] smaslova commented on #3
I also won't be able to make it today.

On Wed, Apr 3, 2019, 4:59 PM Emre Erhan, <notifications@github.com> wrote:

[2019-04-04 00:38] jenjaelin commented on #3
I’ll take whatever you want me to do :)

[2019-04-04 16:33] bencardoen opened #4 "hackseq19 promotion"
Hi,

I'm part of the Vancouver Imaging Network, and SFU's vision group (pretty much anyone remotely working on vision), I also have a few faculty I can ask (e.g. Martin Ester, Max Libbrecht, ..), and there's the Life Sciences Centre at UBC where I can go scalp hunting.
Before I do so, I was wondering if we agree on a common format for this?
I'm asking people in my lab in person, but for emails it

[2019-04-04 19:13] bencardoen commented on #4
In addition, I got a question from someone interested as to what the licensing/IP is for projects, is this per project decided, open source by default, ... ?

[2019-04-04 19:40] baraaorabi commented on #4
I believe we assume the projects to be under open source license

On Thu, Apr 4, 2019 at 12:13 PM bencardoen <notifications@github.com> wrote:

--
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2019-04-04 19:44] emreerhan commented on #4
Let's hold up on recruiting team leaders until @arisgrout has the application survey and advertising materials ready.

hackseq is all about [open source, open notebook, open science](https://www.hackseq.com/our-philisophy). We strongly encourage any projects to be open source.

[2019-04-04 19:45] #2 closed

[2019-04-04 19:45] #1 closed

[2019-04-04 19:49] SweetiePi opened #5 "Organizer Photos"
Hey everyone,

I'd like to update our list of organizers on the website. If you could submit a photo of yourself, along with what you're currently doing (undergrad in BIO/STATS at UBC, technician at Genome Science Centre, etc.) that would be great :)

[2019-04-04 19:52] emreerhan commented on #5
![emre_headshot](https://user-images.githubusercontent.com/10843112/55584119-5d509e80-56d8-11e9-8804-300457527ba4.jpg)
Name: Emre Erhan
Affiliation: Bioinformatics MSc student at UBC

[2019-04-04 19:52] baraaorabi commented on #5
Baraa Orabi
PhD Student at UBC Computer Science and Vancouver Prostate Centre

![baraa-orabi](https://user-images.githubusercontent.com/6283321/55584148-6c375100-56d8-11e9-8fff-64ba28989090.jpg)

[2019-04-04 20:00] bfjia commented on #5
Justin Jia
Ph.D Candidate | Brinkman Lab, Molecular Biology and Biochemistry, SFU

can you use the photo from last year? I don't have it readily available

[2019-04-04 20:09] NoushinN commented on #5
Noushin Nabavi
Canadian Science Policy Fellow @ BCGov
- would also appreciate if you use my photo from last year

[2019-04-04 21:06] bencardoen commented on #5
Ben Cardoen
PhD Student Computing Science, Medical Image Analysis Lab, SFU / Life Sciences Centre, UBC
![photo](https://user-images.githubusercontent.com/26388277/55588520-d7862080-56e2-11e9-9400-05e94fa04f27.jpeg)

[2019-04-04 21:35] oganm commented on #5
Bioinformatics PhD student, Pavlidis Lab, UBC

![6352379 (2)](https://user-images.githubusercontent.com/6352379/55589477-27fe7d80-56e5-11e9-8a1d-b4b0160b8ee8.jpeg)

[2019-04-04 21:37] jenjaelin commented on #5
Jennifer Lin
Medical Genetics MSc. Candidate, Carleton Lab

Same photo as last year please :)

[2019-04-04 22:53] itsDagu commented on #5
David Guo
Undergrad in Biostatistics at UBC

<img src="https://user-images.githubusercontent.com/21967618/55593453-c5ab7a00-56f0-11e9-8302-1ae0624659c2.jpg" width="350">

[2019-04-08 20:20] scatcher125 commented on #3
Hey @emreerhan I can't seem to find an email inviting me to be a collaborator. Would it be possible for you to send it to me again? I can put up the minutes/doodle poll then. Thanks!

[2019-04-08 20:31] emreerhan commented on #3
@scatcher125 can you check again? Thanks!

[2019-04-08 22:55] alexsweeten commented on #5
Thanks everyone!

If you've organized before and haven't commented then I'll reuse last years photos. If you're new then I'll stalk your LinkedIn/Facebook ;)

[2019-04-09 16:55] scatcher125 commented on #1
@emreerhan did you send it again? I didn't get an email from github. Not sure what's wrong..

[2019-04-09 16:56] scatcher125 commented on #3
@emreerhan did you send it again? I didn't get an email from github. Not sure what's wrong..

[2019-04-09 17:44] baraaorabi commented on #3
@scatcher125 I just checked and you are an invited member of hackseq organization. I just updated the invitation. Please make sure to check the email you have on your GitHub account and check the spam. In either way, you should be able to create  a new issue for the next meeting whether or not you have accepted the invitation

[2019-04-09 17:50] scatcher125 opened #6 "2nd Organizational Meeting"
UPDATE: Meeting #2 will be on Friday, May 3rd at 6:00 pm
Venue: [Vancouver Prostate Centre](https://www.google.com/maps/place/Vancouver+Prostate+Centre/@49.261793,-123.1280983,17z/data=!3m1!4b1!4m5!3m4!1s0x548673c3ce402a27:0x2f6daa6784aaabe3!8m2!3d49.261793!4d-123.1259096)

***********************
Hey everyone! Here's the doodle poll for our next meeting. Also put up the minutes for last meeting (

[2019-04-09 18:02] scatcher125 commented on #3
@baraaorabi @emreerhan Just figured it out! I had a different primary email for my Hackseq. Changed my settings, all good now. Thanks.

[2019-04-09 18:45] saberhq commented on #5
@SweetiePi Sorry for the late reply. I missed the chance to attend our first two meetings and I am not sure you guys still accept me as an organizer or not. :D However, here is my profile pic. I am planning to attend the rest of meetings hopefully.

Bioinformatics PhD student at UBC / BC Cancer Agency

![Saber_HafezQorani](https://user-images.githubusercontent.com/13000878/55826366-b8a9d480-5abc-1

[2019-04-09 18:48] saberhq commented on #6
Hi everyone,

I would like to apologize to everyone for not being able to attend the first two meetings. I am planning to attend the rest of them though. We can talk about possible duties that I can take during this 2nd meeting.

Hope to see you all,
Saber.

[2019-04-10 06:15] klgray25 commented on #3
Hey guys - for those of us who were absent, are there still positions left to be filled? Was just reading the minutes and it seems everything has been filled.

[2019-04-10 20:38] klgray25 commented on #3
I suspect that I might be down for logistics and that my name was recorded as Christine instead of Kristen. Can someone please confirm if this is the case? If there is a Christine in the organizers too though I do apologize.

[2019-04-10 21:08] baraaorabi commented on #3
I don't recall a Christine 🙄

On Wed, Apr 10, 2019 at 1:38 PM klgray25 <notifications@github.com> wrote:

--
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2019-04-10 21:24] emreerhan commented on #3
Hi @klgray25,

We have a lot of people helping out this year! So that will mean creating new positions (like Ben's tech support) and doubling up on positions.

And yes, I believe you are 'Christine'. @scatcher125, for the future, her name is Kristen Gray.

[2019-04-10 21:33] scatcher125 commented on #3
@klgray25 @emreerhan I didn't realize I had the wrong spelling. Will keep that in mind next meeting onwards :).

[2019-04-11 04:43] klgray25 commented on #3
Sounds good, sorry for the confusion. Thanks for clarifying!

[2019-04-18 03:31] scatcher125 commented on #6
Hey everyone! It looks like most people have filled in the doodle. I'll finalize and update the next meeting date/time near Friday. Hope this gives everyone enough time to fill in their availability :).
@baraaorabi Are you still able to book the venue once we have a time?

[2019-04-18 19:08] bencardoen commented on #3
@emreerhan could you give the info on the previous cluster (OSCA?) machines assigned last year so I can see if we can pry more loose from Cedar?

[2019-04-22 03:47] scatcher125 commented on #6
Update: Meeting 2 will be on Friday, May 3rd at 6:00 pm.
Is anyone able to book the meeting venue?

[2019-04-22 05:02] baraaorabi commented on #6
Sorry for the late response! I booked us a room at Vancouver Prostate Centre at 6pm on 3rd of May

[2019-04-23 21:45] baraaorabi commented on #6
Hey @arisgrout, I am not entirely sure, but I think you were gonna lead on the Team Lead Applications. If you wish, we can meet sometime soon to finalize how we will do the applications before our 2nd meeting.
What you think?

[2019-04-24 15:30] arisgrout commented on #6
Hey @baraaorabi agreed! Thanks for the follow-up! I'll open a spreadsheet for listing prospective leads today. I did a little application revamp over the weekend! Thoughts? https://docs.google.com/forms/d/1zHs_dGTSYF28vCZZr1oXH5wtdbo29QtfkdlPYD0O9sU/edit?usp=drivesdk

[2019-04-24 19:47] klgray25 commented on #6
Hi @arisgrout. I made one small change: In section 4, if the user selected "No" for mentoring it took them to the end of the form, but I think it should route to section 6. Aside from that, it looks great! Really well-organized and thorough. Make sure you do a test response before distributing it and also make sure that it is clear that the user needs to select "Submit" on the final page, as I don

[2019-04-25 14:51] arisgrout commented on #6
@klgray25, great find! Thanks for the help. Hopefully we'll set the hackseq dates soon, so we can launch!

@baraaorabi I'm hoping to have the team lead stuff prepared for the weekend of May 3rd, but won't be able to make the meeting myself. Can you meet this on Saturday sometime to chat campaign/timeline? Maybe @SweetiePi if he'd like to join too? Can be virtual or coffee shop.

[2019-04-25 17:08] baraaorabi commented on #6
@arisgrout Sat sounds good. I think in person would be better. I prefer somewhere around Comm/Broad or in downtown but I am flexible. I'll text you on FB to setup

[2019-04-25 23:17] alexsweeten commented on #6
@arisgrout @baraaorabi Saturday morning or afternoon would work for me as well :)

Unfortunately won't be able to attend the meeting on May 3rd :(

[2019-04-26 19:30] alexsweeten commented on #6
[Unrelated]
I'm giving an [un-distinguished lecture](https://www.cs.ubc.ca/~udls/) today at UBC, 5:15pm in ICICS x836. If you're at UBC today then please come :)

[2019-04-26 23:41] oganm commented on #6
What's it about? The schedule seems stuck at April 12

[2019-04-27 02:39] alexsweeten commented on #6
@oganm It was on the history of SFU and it's rivalry with UBC. [Slides are here](https://docs.google.com/presentation/d/13O_ZvBv_Dbwhqy98vHs7UTz43qeLx2eGfopzG0NAsu4/edit?usp=sharing) if interested.

[2019-04-27 03:27] baraaorabi commented on #6
@SweetiePi looked at the slides, they look awesome!!! Hope made a blast!

[2019-05-02 17:51] baraaorabi commented on #6
@hackseq/hs19_organizers: Reminder that we are meeting tomorrow 6pm at Vancouver Prostate Centre

[2019-05-03 18:22] baraaorabi commented on #6
Final reminder that we are meeting today at 6pm at VPC. The address is:
2635 Laurel St, Vancouver, BC V5Z 1M9

I will be outside at 5:55pm to get you inside.

[2019-05-03 22:15] kfgibson commented on #6
Hi all,

I am feeling quite under the weather today so I won't be able to make it to the meeting. Sorry!

[2019-05-04 00:01] arisgrout commented on #6
Hi all, update on my-part. Sorry I can't be there today. Best,  https://docs.google.com/document/d/1dNSviD_EqABQXPO6Rpb9pe8jUJ9InIH2R6Rn-HZWN6M/edit?usp=sharing&authuser=0

[2019-05-04 00:56] SaberHQ commented on #6
I have never been to VPC. Which enterance you are @baraaorabi ? Jack bell research centre?

[2019-05-04 00:58] scatcher125 commented on #6
I'm sorry I might run a few minutes late! I am coming from Victoria, and the 17 I'm on has some issue. I'm about 1 stop away.

[2019-05-04 01:00] alexsweeten commented on #6
Quick update, I made an [instagram account](https://www.instagram.com/hackseq/). All organizers can access it, feel free to add to the following list.

[2019-05-04 01:03] smaslova commented on #6
I'll be there in 10, sorry for being late!

Which entrance is it?

On Fri, May 3, 2019, 6:00 PM Alex Sweeten, <notifications@github.com> wrote:

[2019-05-04 01:11] klgray25 commented on #6
Message when you arrive and I'll let Baraa know to come let you in

[2019-05-04 01:13] smaslova commented on #6
Downstairs! Sorry I don't have your number saved.

On Fri, May 3, 2019, 6:12 PM klgray25, <notifications@github.com> wrote:

[2019-05-05 19:41] scatcher125 opened #7 "3rd Organizational Meeting"
Update: Meeting will be on **Friday May 31st at 6:00 pm**, since this time works best for everyone if we need to go over an hour.
@baraaorabi are we still able to book VPC for that time?

I will be able to attend digitally if anyone is able to skype me in/if anyone else would like to make it a conference call, I can look into that as well.

-----
Hey everyone, here's the doodle poll for next meeti

[2019-05-21 21:47] saberhq commented on #7
Hello everyone,

I think we need to finalize a date for the 3rd meeting so that we can plan ahead for it and book a place.

[2019-05-22 02:39] scatcher125 commented on #7
The next meeting will be on Friday May 31st at 6 pm. I did update the original post a few days ago, but I'll make sure to comment it as well next time so everyone can get notifications.

@baraaorabi Are we still able to book at the VPC?

[2019-05-22 18:51] baraaorabi commented on #7
@scatcher125 Yes booking done

[2019-05-23 11:57] scatcher125 commented on #7
Thankyou!

[2019-05-29 22:43] arisgrout commented on #7
Hi All, I can't attend this meeting, I didn't know it was scheduled. But will send notes regarding my stuff again. TL applications will be ready for launch now that we have hackseq19 dates (Oct 18-20). https://docs.google.com/forms/d/1pcrjyBrZwm8hBRAU8Wda1tM0liP1Ot0IPQlv81kXBDc/edit

Is it possible to introduce more communication for these meetings? I'd like to attend but I don't receive any notif

[2019-05-29 22:46] baraaorabi commented on #7
Do you have Watching for this repository on? If so, then any new issue or comment on an issue should trigger an email automatically.

[2019-05-29 22:46] baraaorabi commented on #7
^ without having to be @'ed

[2019-05-29 22:49] arisgrout commented on #7
@baraaorabi I wasn't watching, I am now thanks.

[2019-05-30 02:53] scatcher125 commented on #7
If anyone is planning on attending the meeting remotely please let me know by commenting below and we can look into setting up a conference call.

If not, I can skype or phone in, if anyone is willing to skype/phone me in :).

[2019-05-31 00:51] bencardoen commented on #7
I won't be able to make it tomorrow, sorry :( . I'll keep an eye on the proceedings to see where I can help out.

[2019-05-31 14:15] arisgrout commented on #7
Hullohullo! My updates for today's meeting can be found here:
https://docs.google.com/document/d/18lhAeJy5kudQgEklgpvfpQEGj8EXP0W1KQGRDiqnn40/edit?usp=sharing

** Feel free to add notes/revisions directly to the doc. Have a great meeting! Looking forward to launching TL applications soon!

[2019-05-31 17:41] baraaorabi commented on #7
Hey @hackseq/hs19_organizers!

Just a reminder that we are meeting today at 6pm same place as last month: Vancouver Prostate Centre 2635 Laurel St, Vancouver, BC V5Z 1M9

[2019-05-31 17:44] baraaorabi commented on #7
Oh and for those who wish to connect via Skype, the conference room has good video conferencing via Skype. Please add me on Skype:
baraa.orabi

[2019-05-31 18:24] jenjaelin commented on #7
Hey! A last minute meeting came up at the lab so I can no longer make it -.-

I added an item to agenda that would be worth talking about. If we can get sponsorship from MLH this year, it would give us a lot more funding and outreach to the global community. I attached the guidelines for the application/events according to their site. We can check off most of their requirements, the only one that

[2019-05-31 23:18] alexsweeten commented on #7
I won't be able to make it as well, this will most likely continue if we keep having Friday meetings.

I'll update the website with a link to Aris's TL application this weekend.

[2019-05-31 23:46] kfgibson commented on #7
Hey! I have also had an urgent last minute meeting come up and won't be able to make it. :( I will also keep a close eye on the posted minutes to see where I can help out! Also, I am still interested in helping out with the participant applications. Does anyone have an idea of a timeline for when we will need to start working on them? I'm guessing not for a little while as we have not yet launched

[2019-06-01 02:50] scatcher125 opened #8 "4th Organizational Meeting"
Update: Next meeting will be at **6:00pm on Thu, 20th June**, at VPC as usual.

I unfortunately most likely won't be able to attend, but I'll try to Skype in if anything changes.

--------------‐----------------------------------
Doodle poll for next meeting: https://doodle.com/poll/g82uhn3i2s5fy5dh
Meeting time will be announced by Tuesday, 11th June. Hope everyone can fill in the poll by then :)

[2019-06-03 21:33] baraaorabi opened #9 "GitHub notifications and Watching"
@hackseq/hs19_organizers

Please make sure that you are "**Watching**" this repo and the [private repo](https://github.com/hackseq/hackseq19_private/). And make sure that you have email notification enabled for your GitHub account. If all is setup correctly, you should be receiving an email notification whenever a new issue is opened or a comment is added to any issue in either repository.

Please

[2019-06-07 20:20] baraaorabi commented on #8
@hackseq/hs19_organizers please remember to vote on the Doodle for next week!

[2019-06-07 20:21] baraaorabi commented on #9
@scatcher125
@smaslova
@klgray25
@emreerhan

Can please confirm that your notification is setup?

[2019-06-07 20:55] #4 closed

[2019-06-07 20:57] #3 closed

[2019-06-07 20:57] #6 closed

[2019-06-11 06:46] scatcher125 commented on #8
Hey everyone! Hope you can fill in the doodle poll by Wed, 12th June. We have 3 tie-breakers for Tue, Wed, Thu (18, 19, 20), so even one more vote will help settle dates more easily!

[2019-06-11 18:03] oganm opened #10 "Google calendar"
I have just made [this](https://calendar.google.com/calendar?cid=N2tvMnMwbmdoY21kcGRtZGdrb3M1aWJoM2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ) google calendar. It can be used to ensure everyone (who happens to use google calendar) get reminders when meetings or other important dates are coming up. It is currently empty but could be useful later. You should be able to add it on your own calendars using t

[2019-06-11 18:07] baraaorabi commented on #10
Sounds awesome! Is this created with hackseq@gmail.com account? If not
let's use that instead of personal accounts

On Tue, Jun 11, 2019, 11:03 AM Burak Ogan Mancarcı <notifications@github.com>
wrote:

[2019-06-11 18:27] oganm commented on #10
Well let's use [this](https://calendar.google.com/calendar?cid=cDdkMG91OHY5NjRkNDV1dHQ4c2k2ZDI0YW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ) link instead then

[2019-06-12 22:47] baraaorabi commented on #8
@scatcher125 should I book the room for the next meeting? I think June 20th 6pm is the most picked

[2019-06-13 09:42] scatcher125 commented on #8
@baraaorabi Yes please! (and also thankyou). I'll update the meeting time above.

[2019-06-13 18:55] baraaorabi commented on #8
@hackseq/hs19_organizers booking is done. See you all next week on Thursday!

[2019-06-17 14:40] emreerhan commented on #8
It's looking like the TL application deadline might have to be extended. 3/9 applications are local. I believe several of the organizers, including myself, are planning on submitting applications, but that likely won't be enough to get to the number of teams we need.

@arisgrout what do you think? Perhaps we should organize another advertising push with the announcement of a deadline extension.

[2019-06-17 16:02] bencardoen commented on #8
+1, I'd like to submit but I'm working with faculty at SFU to convince them to be thought leaders, takes a bit of time

[2019-06-17 16:53] baraaorabi commented on #8
So in addition to the current apps we have, we also are expecting:
- Ana from BioViz. She is confirmed to lead a team but I will ask her to submit an application just to keep track
- I am talking with my PI, Faraz Hach, to have a project alongside one of our lab members
- I had a quick chat with Leonid Chindelevitch from SFU and I might lead a team on a project idea he has
- I think @NoushinN and

[2019-06-17 17:09] NoushinN commented on #8
@baraaorabi  that's right, I already applied, wondering if my application is there? I do need to change the data source though, others will remain the same, do I need to put in a new app?

[2019-06-17 17:35] baraaorabi commented on #8
@NoushinN do you mean on [last year's form](https://docs.google.com/forms/d/1vn3etFgnBk_wFppXUsmWCdtL9q_EAggkolk432ALWag/edit#responses)? If so you need to submit a new one [here](https://forms.gle/s4kXGd1UGdMPcGok7)

[2019-06-17 17:38] baraaorabi commented on #8
Your previous application if you wanna reuse some of its parts:
[code]

[2019-06-17 17:40] NoushinN commented on #8
thank you @baraaorabi will do

[2019-06-17 18:28] bfjia commented on #8
I might not make it this thurs, have to pick up someone from the airport that night at 8pm.

[2019-06-17 18:39] baraaorabi commented on #8
Let me know if you can join via Skype

On Mon, Jun 17, 2019, 11:28 AM Justin Jia <notifications@github.com> wrote:

[2019-06-18 00:31] arisgrout commented on #8
@baraaorabi @emreerhan extend by 2 weeks? So July 5th okay?

[2019-06-18 01:11] baraaorabi commented on #8
I think two weeks minimum. But let's discuss this on Thurs?

On Mon, Jun 17, 2019, 5:31 PM Aris Grout <notifications@github.com> wrote:

[2019-06-18 20:31] bfjia commented on #8
i probably will make the first hour or so then leave early.

[2019-06-20 16:34] kfgibson commented on #8
Which entrance to the VPC do we meet at to be let in?

[2019-06-20 16:56] baraaorabi commented on #8
Hey @hackseq/hs19_organizers! Just a reminder that we are meeting today at 6pm. I will be waiting on the Laurel street side of Vancouver Prostate Centre (2635 Laurel St) 5-10 minutes before 6. If you can't make it in person but wanna Skype in then let me know!

[2019-06-20 19:33] bfjia commented on #8
Can you skype me in for the first hour of the meeting? My id is Justin_jia2006

From: baraaorabi [mailto:notifications@github.com]
Sent: June 20, 2019 9:57 AM
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>; Team mention <team_mention@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 4th Organizational Meeting (#8)

Hey @hackseq/hs19_organize

[2019-06-20 19:38] smaslova commented on #8
I won't be able to make it today, sorry!

[2019-06-21 00:48] jenjaelin commented on #8
Missed the bus by 2 seconds. Gonna be about 10 min late (18:10)

Jennifer Lin

[2019-06-21 01:02] bfjia commented on #8
I can't get Skype to work on my phone, I'll sit out of this meeting and catch up with the notes.

-------- Original message --------
From: jenjaelin <notifications@github.com>
Date: 2019-06-20 5:48 PM (GMT-08:00)
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Team mention <team_mention@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 4th O

[2019-06-21 17:18] jenjaelin commented on #8
Minutes up! To-Do lists and poll for 5th meeting to follow

[2019-06-21 17:44] jenjaelin opened #11 "5th Organizational Meeting - Minutes up!"
# To Dos
Please check off the individual ones as completed!
## Everyone
- [x] vote for the next meeting date [HERE](https://doodle.com/poll/2auwe4bmuv9i6rd6) by **June 28th**
- [ ] brainstorm for personal TL invites, see list and email template [HERE](https://github.com/hackseq/hackseq19_private/issues/16)
- [ ] sign up for TL interviews [here](https://github.com/hackseq/hackseq19_private/issues/2

[2019-06-21 17:53] bencardoen commented on #11
Thanks @jenjaelin for posting this.
Could you check the (first) doodle link, I'm getting a 404?

[2019-06-21 19:31] #10 closed

[2019-06-21 19:31] #7 closed

[2019-06-21 19:31] #9 closed

[2019-06-21 20:13] jenjaelin commented on #11
should work now!

[2019-06-24 04:10] jenjaelin commented on #11
Do we want to interrogate.... errr... interview @SweetiePi again as a practice TL interview run for people who haven't done it before? If Alex doesn't mind of course.

[2019-06-25 23:37] jenjaelin commented on #11
Quick reminder to fill in the meeting poll if you haven't already!

[2019-07-02 18:34] baraaorabi commented on #11
Hey @hackseq/hs19_organizers! We got most votes for **Wed, 10th of July**. I am booking a room for that time at VPC just like always. As usual, if you want to join on Skype let me know in advance so we can set this up. See you next week!

[2019-07-04 18:50] baraaorabi commented on #11
@hackseq/hs19_organizers just a reminder that we are meeting today at 6pm at VPC. Cya all!

[2019-07-04 18:51] baraaorabi commented on #11
LOL! No, next week not today XD

[2019-07-04 18:52] smaslova commented on #11
I thought it was next Wednesday?

On Thu, Jul 4, 2019, 11:50 AM baraaorabi, <notifications@github.com> wrote:

[2019-07-04 18:52] bfjia commented on #11
spooked me for a second there :|

[2019-07-04 18:52] scatcher125 commented on #11
I can join on skype tonight! What time are we meeting on 10th July?

[2019-07-04 18:54] scatcher125 commented on #11
I can Skype in at 6 pm on 10th july or may try to be there in person for part of the meeting, but would have to leave by 7.

[2019-07-04 18:56] baraaorabi commented on #11
Sorry all! We are NOT meeting today. We are meeting next Wed July the 10th. My brain registered for some reason that we are meeting today 😬

@scatcher125 if you can make it in person even for 7 that would great! If not, send me a message on Skype so I make sure to create a conference call for next week. (my Skype: baraa.orabi)

[2019-07-04 18:58] bencardoen commented on #11
I'm assuming that's a typo and you mean 10th?

[2019-07-04 19:00] baraaorabi commented on #11
Yes, I edited it. My bad people 😩

[2019-07-04 19:01] scatcher125 commented on #11
@baraaorabi will do! (just in case i can't make it)

[2019-07-10 06:39] bfjia commented on #11
I will be attending the meeting via skype (id: justin_jia2006).
Teeth filling cracked today so got a dental appointment tomorrow afternoon :(

[2019-07-10 20:11] oganm commented on #11
Won't be able to make it today. have fun

[2019-07-10 21:49] smaslova commented on #11
I won't be able to make it either, sorry!

On Wed, Jul 10, 2019 at 1:11 PM Burak Ogan Mancarcı <
notifications@github.com> wrote:

[2019-07-10 23:42] scatcher125 commented on #11
I can make it today, but my friend will drive me to the ferry right after the meeting. Is it ok if they sit in/outside our room today - whichever is best?

[2019-07-10 23:49] itsDagu commented on #11
I won't make it either, thought it was going to be tomorrow. I'll read the meeting minutes afterwards!

[2019-07-11 00:55] scatcher125 commented on #11
Im on my way and should be there within 10-15 minutes!! Sorry running a bit late.

[2019-07-11 01:11] baraaorabi commented on #11
We are starting on Skype too @imasianxd

[2019-07-11 01:15] imasianxd commented on #11
Frig. I'm still on the road from dentist. I'll join when I get back.

Can you raise the issues with lighthouses labs want to sponsor a class for hackseq? It's an issue in our private repo

-------- Original message --------
From: baraaorabi <notifications@github.com>
Date: 2019-07-10 6:11 PM (GMT-08:00)
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail

[2019-07-11 05:45] ababaian opened #12 "XYalign published!"
The `XYalign` paper was [just published](https://twitter.com/Phil_A_Richmond/status/1149030865466380289) from hackseq16!!! w00t w00t.

@SweetiePi we should start putting together a more mature page with some of the projects that have been followed up/started out at hackseq.

[2019-07-17 23:08] #12 closed

[2019-07-18 18:16] scatcher125 commented on #11
When would we like our next meeting to be (approx)? I can put the next doodle poll up!

Wait actually I saw the next meeting times under "other" - putting it up now!

[2019-07-18 18:18] baraaorabi commented on #11
I wanna say we discussed 30th or 31st (?)

On Thu, Jul 18, 2019 at 11:16 AM scatcher125 <notifications@github.com>
wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-07-18 18:19] arisgrout commented on #11
@scatcher125 @baraaorabi we were looking at: Jul 30 - Aug 1

[2019-07-18 18:25] scatcher125 opened #13 "6th Organizational meeting - Minutes Up!"
Next meeting is Aug 1st, 6:00 pm at VPC!

********
# Minutes
[Minutes found here](https://github.com/hackseq/hackseq19_private/issues/28#issuecomment-517516598)

[2019-07-18 18:28] scatcher125 commented on #11
Thanks! @baraaorabi @arisgrout

[2019-07-18 22:45] kfgibson commented on #13
I assume you meant July 24? ;)

[2019-07-18 23:13] scatcher125 commented on #13
Yes sorry, I meant the meeting date will be announced on the 24th! :)

[2019-07-20 21:04] ababaian opened #14 "Sticker Art 19'"
Let's be honest, the point of organizing hackseq is to fund our laptop sticker collections. I couldn't help myself last night and cranked out a design I think I like more then the Joy Division one from hs17.

### Pink Floyd - Darkside of the moon
![darkside2](https://user-images.githubusercontent.com/9220907/61584089-d5c95700-ab31-11e9-8e93-af2ec8cf2745.png)

[2019-07-20 21:20] alexsweeten commented on #14
Whipped this up a couple months ago.

**Panic! at the Disco**

![panic_disco](https://user-images.githubusercontent.com/7028404/61584262-9252f680-aaf9-11e9-9a8a-f033ae95dc0d.jpg)

[2019-07-20 22:11] ababaian commented on #14
I see your panic at the disco and raise you

## Ace of Base - The Sign
![TheSign](https://user-images.githubusercontent.com/9220907/61584655-209b9c80-ab3b-11e9-9d92-4a7c60bb5d8b.png)

(not sure if I like it that much tbh, but it's really funny if you see [the original art beside it](https://upload.wikimedia.org/wikipedia/en/d/d9/AceofBaseTheSignAlbumcover.jpg) )

[2019-07-24 20:54] baraaorabi commented on #13
@scatcher125 should I book for Aug 1st 6pm?

[2019-07-24 20:58] scatcher125 commented on #13
Yes please! Thankyou :)

[2019-07-24 21:03] baraaorabi commented on #13
Done! Aug 1st at 6pm at VPC

[2019-07-28 13:13] scatcher125 commented on #13
@oganm what's the best way to reach you?

[2019-07-28 19:57] oganm commented on #13
You have reached me. It this about the interview?

[2019-07-29 23:44] scatcher125 commented on #13
Yes! Just found your email, I emailed you regarding the interview on 30th Jul.

[2019-08-01 16:58] baraaorabi commented on #13
See you all today at 6pm at VPC!

[2019-08-01 17:00] NoushinN commented on #13
is there a chance to join by Skype?

[2019-08-01 17:01] baraaorabi commented on #13
Yes! Can u message me at my Skype (baraa.orabi)?

On Thu, Aug 1, 2019 at 10:00 AM Noushin Nabavi <notifications@github.com>
wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-08-01 18:39] alexsweeten commented on #13
Unfortunately I can't make it today. Aris and David should be able to speak on behalf of the team leads I interviewed. I'm finishing work on creating website pages for hackseq19 and publications which came from hackseq. Let me know after the meeting if anything else website related should be added.

[2019-08-01 21:16] kfgibson commented on #13
I’ve come down with a pretty bad eye infection over the last day so I won’t be able to make it either.

[2019-08-01 22:05] scatcher125 commented on #13
I'll be skyping in at Shipra96!

[2019-08-02 00:37] #8 closed

[2019-08-02 00:49] jenjaelin commented on #13
I guess I’ll be late because all bus 17s going north seem to have gotten eaten by a black hole... I’ll update y’all when I finally find a bus.

[2019-08-02 00:53] oganm commented on #13
No one at the door?

[2019-08-02 00:56] jenjaelin commented on #13
Can you guys skype me in? jenjaelin

[2019-08-02 01:02] scatcher125 commented on #13
@jenjaelin I can't seem to find you on skype (might be issues with my skype). If you're able to find me at Shipra96 I can add you to the skype group?

[2019-08-02 02:34] scatcher125 opened #15 "7th Organizational meeting - Minutes up!"
Update: Meeting is on Thu 15th Aug, 6 pm at SFU (look in comments for details)!
.......
Hey everyone! Here's the link for the next meeting's [doodle poll](https://doodle.com/poll/vhh78yqktyyfzces). If everyone can respond by Tue, 6th Aug the date will be announced by Wed, 7th Aug.

#  Minutes

## TL applications
- If need/want co-lead, have them confirm that they need/want co-lead
  - Luca, Pierre

[2019-08-07 17:10] scatcher125 commented on #15
Hey everyone! I noticed not many people have filled in the doodle poll yet, so I'm extending the deadline to tonight 10 pm. Hope you are able to fill in the poll asap!

[2019-08-09 00:10] scatcher125 commented on #15
Update: Meeting is on Thu 15th Aug, 6 pm at VPC! (@baraaorabi hope its not too late for the booking?)

[2019-08-09 00:29] bencardoen commented on #15
We can always meet at SFU :)

[2019-08-09 00:31] alexsweeten commented on #15
I second the SFU decision :)

[2019-08-09 00:39] baraaorabi commented on #15
Or at VPC. ISN'T VPC JUST LOVELY? 🤪

On Thu, Aug 8, 2019, 5:31 PM Alex Sweeten <notifications@github.com> wrote:

[2019-08-09 00:41] oganm commented on #15
There are bears in SFU. Clearly unsafe

[2019-08-09 00:41] baraaorabi commented on #15
But on a serious note, I'm down with SFU if there is a majority for it and
Ben can get a us a room with video conferencing

On Thu, Aug 8, 2019, 5:39 PM Baraa Orabi <baraaorabi@gmail.com> wrote:

[2019-08-09 00:42] alexsweeten commented on #15
All SFU students have bear spray @oganm. Nothing to fear!

[2019-08-09 00:45] bfjia commented on #15
I 3rd this decision ☺

From: baraaorabi <notifications@github.com>
Sent: August 8, 2019 5:41 PM
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 7th Organizational meeting (#15)

But on a serious note, I'm down with SFU if there is a majority for it and
Ben can get a us a room with video conferencing

On Thu, Aug 8

[2019-08-09 00:51] scatcher125 commented on #15
If it's in sfu can we have it on monday 7 pm instead? It had the same # of votes

[2019-08-09 02:06] scatcher125 commented on #15
I guess my question is - will anyone be negatively impacted if the mtg is 7 pm on monday?
---------
 If not, then let's have the meeting on monday.
I just may not be able to make it to sfu on thursday since i take the bus to the ferries from bway/cambie to make it home to vic at a reasonable time.

[2019-08-09 02:09] jenjaelin commented on #15
It slipped my mind to vote but I can do Thursday if remote, but not Monday

On Thu, Aug 8, 2019 at 7:06 PM scatcher125 <notifications@github.com> wrote:

[2019-08-09 02:10] scatcher125 commented on #15
Alright, let's keep thursday then!

[2019-08-09 18:12] bencardoen commented on #15
I've booked TASC-1, Room 9408 @SFU  with videoconferencing for Aug 15th 6pm.
I'll setup hangouts (unless Skype is preferred?)
You don't need a key to enter the building, I'll be at the room. (+1 7788992971)

If you haven't been to SFU, transit route for Thu 6pm from VPC:
https://goo.gl/maps/vUYfKEkWjqiNhLPz9
Building info:
https://www.sfu.ca/fs/campus-maps/directory-of-buildings/technology---scien

[2019-08-12 21:51] baraaorabi commented on #15
Ok, see you all at **SFU** on Thur!

[2019-08-15 18:26] jenjaelin commented on #15
Could you guys skype/hangouts me in? I have a meeting in Vancouver at 7

[2019-08-15 18:30] baraaorabi commented on #15
I also will video call in. We alraedy have a Skype group setup. I can add
you, Ben, to it

On Thu, Aug 15, 2019 at 11:26 AM jenjaelin <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-08-15 19:38] bencardoen commented on #15
Sure, my skype id is (or should be) ben.cardoen

[2019-08-15 23:42] bencardoen commented on #15
Adding this for context, Liangliang could use a co-lead

Hi Ben,

Thank you for letting me know that you can try to find a co-lead. I will chat with my new PhD student, Grace, on Skype tomorrow afternoon. I think she can act as the co-lead. But to be safe, if you could match me up with a co-lead in addition to Grace, that would be great.

I hope the co-lead is familiar with Bayesian statistics, Ma

[2019-08-16 00:18] scatcher125 commented on #15
I'll be skyping in at 6 as well! :)

[2019-08-16 01:08] oganm commented on #15
Oh dear. Thought we were on 7 for some reason

[2019-08-20 05:00] scatcher125 opened #16 "8th Organizational Meeting"
Update: Next meeting will be Thu, Aug 29th at 6 pm!
Do you guys want it to be at sfu or vpc?
-----------------
Hey everyone! Here's the doodle poll for next week: https://doodle.com/poll/nt5pgz7kcbkggrmc
Please respond by this Thursday latest (hope that's enough prior notice to make room bookings?).

I was also wondering if people wanted this meeting to be at VPC or SFU. If you have a strong prefe

[2019-08-20 05:04] scatcher125 commented on #15
Question: should I put up the Participant form draft here or on the private repo?

[2019-08-20 05:07] baraaorabi commented on #15
Private

On Mon, Aug 19, 2019, 10:04 PM scatcher125 <notifications@github.com> wrote:

[2019-08-24 15:59] scatcher125 commented on #16
The next meeting will be Thu, aug 29th at 6 pm :)

[2019-08-24 19:30] baraaorabi commented on #16
I have a strong preference for VPC this time around :-D

[2019-08-25 03:59] scatcher125 commented on #16
Since nobody else has indicated any strong preferences I guess let's book at vpc then?

[2019-08-25 18:51] baraaorabi commented on #16
Booking done next Thurs at 6PM at VPC

[2019-08-27 22:25] klgray25 opened #17 "Evening Socials"
Hey guys. It looks like Mahony's is permanently closed as of this month. Is there anywhere else on or near campus that you UBC folks would recommend we move the Saturday evening social to? I have also sent a few emails to the Gallery to make a reservation for the Friday night (with NO food/drinks provided by us) and have not heard back yet - will keep following up.

[2019-08-27 22:26] scatcher125 commented on #17
Koerners or Point grill could be convenient alternatives

[2019-08-27 22:26] baraaorabi commented on #17
There is also Koerner's pub. BIG Research Day social last March was held
there

On Tue, Aug 27, 2019 at 3:25 PM klgray25 <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-08-27 22:28] alexsweeten commented on #17
We went to the Gallery last minute last year and it was nice.

Ok didn't read :P Biercraft at wesbrook but that's a bit of a walk

[2019-08-27 22:40] klgray25 commented on #17
Koerner's Pub and Birecraft are about the same walking distance from the LSI according to Google. Should we stick with Koerner's since we know they have options for food/drinks for groups or try something new?

[2019-08-27 23:20] baraaorabi commented on #17
I haven't been to UBC's BeirCraft. I like Koerner's atmosphere. My vote is
for Koerner's

On Tue, Aug 27, 2019 at 3:40 PM klgray25 <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-08-29 02:52] alexsweeten commented on #17
Biercraft is nice but I think Koerner's is more student friendly, so let's go with them.

[2019-08-29 16:36] arisgrout commented on #16
Hey guys! I'll need to remote into this meeting. @baraaorabi ill Skype you. Talk soon 😊

[2019-08-29 18:27] baraaorabi commented on #16
See you all at 6pm today! And those joining via Skype and are not on the Skype chat yet, make sure to message me at `baraa.orabi`

[2019-09-01 16:05] scatcher125 commented on #16
When do we want the next meeting to be?

[2019-09-03 19:17] scatcher125 commented on #16
Hey guys! I guess I ended up missing most of last meeting due to connectivity issues. Is someone able to clarify two things for me:
- The minutes say I need to select a co-lead. Who am I selecting co-lead for and by when/how?
- Did we discuss when next meeting should be?

[2019-09-03 19:20] smaslova commented on #16
I think we decided on the week of the 16th for the next meeting.

On Tue, Sep 3, 2019 at 12:17 PM scatcher125 <notifications@github.com>
wrote:

[2019-09-03 19:21] bencardoen commented on #16
@scatcher125 iirc I think next meeting is next Thursday

[2019-09-04 00:48] klgray25 commented on #17
So, Koerner's doesn't usually open on the weekends at all. We would have to book the whole place out for them to serve us and there would be an hourly minimum we have to spend. I can inquire about what the cost of this would be, but I'm guessing it will be a little out of our budget. BierCraft?

[2019-09-04 14:57] scatcher125 commented on #16
Thanks! Ok I'll just open the next issue and set the date to next Thursday. I'm assuming it's 6 pm @bencardoen ?

[2019-09-04 15:48] bencardoen commented on #16
@scatcher125 I'm not sure, I'm working on the fuzzy heuristic that is my memory, so YMMV. I think it was mentioned @emreerhan would be back so we'd meet at GSC instead. Again, same fuzzy heuristic ... . I'm sure either @baraaorabi or @emreerhan can confirm?

[2019-09-04 16:56] scatcher125 commented on #16
Ok, will wait for @baraaorabi or @emreerhan to confirm before opening the new issue

[2019-09-04 17:05] emreerhan commented on #16
Hi, yes I'm back and I can book the GSC. Is it next Thursday, Sept 12, at 6pm?

[2019-09-05 01:48] emreerhan commented on #16
Can I get a confirmation on when we are meeting next? @scatcher125

[2019-09-05 13:00] scatcher125 commented on #16
Sure, let's make it Thu, 12th Sep at 6 pm. (6 pm has been the most preferred time so far anyway)

[2019-09-05 16:22] scatcher125 opened #18 "9th Organizational meeting"
Hey everyone! Next meeting will be on **Thu, Sep 12, 6:00 pm** at the **GSC** (as decided during last meeting).
@emreerhan hope you can confirm once the booking has been made :)

# Minutes

## Team Leads
- email TLs who didn't get a co-lead - Baraa
- connect 2 remaining co-leads/leads - Baraa

## Participant Apps
- got all the projects?
- make a case for the top 3
- submit only once, can be edited

[2019-09-05 20:51] emreerhan commented on #18
Confirmed!

[2019-09-05 21:57] jenjaelin commented on #18
Hey! I will definitely be remote next week as I'll be somewhere in Ontario. Access to wifi TBC but I'll let you know :)

[2019-09-12 20:30] baraaorabi commented on #18
Cya all @ 6pm!

[2019-09-12 20:35] bfjia commented on #18
sorrryyyy forgot about this. Signed up to do something for my grad caucus. I will miss the meeting. Let me know if there's anything i can do to help out!

[2019-09-12 20:55] klgray25 commented on #18
I will need to skype in tonight! Look me up with my personal email (kristen.leanne252@gmail.com)

[2019-09-12 21:02] baraaorabi commented on #18
@Emre do we have Skype setup at GSC? If not I think we can still do VPC

On Thu, Sep 12, 2019, 1:55 PM klgray25 <notifications@github.com> wrote:

[2019-09-12 21:33] emreerhan commented on #18
@baraaorabi I don't believe we have cameras/mics set up at the GSC. We can set up a laptop and hook it up to the projector.

We can do VPC, but it is fairly short notice to be changing location.

[2019-09-12 21:45] baraaorabi commented on #18
GSC is just a 10 min walk from GSC and I shouldn't have problem with making
the booking. I guess if we have others beside Kristen who want to Skype we
should switch?

Who else needs to Skype in?

On Thu, Sep 12, 2019, 2:33 PM Emre Erhan <notifications@github.com> wrote:

[2019-09-12 21:52] jenjaelin commented on #18
I need to skype in

J

[2019-09-12 22:01] bfjia commented on #18
Schrödinger's GSC. It's both the GSC and not the GSC until you walk into it.
😂😂

[2019-09-12 22:05] baraaorabi commented on #18
Loool. I mean you could walk out for ten min and then come back :-P

On Thu, Sep 12, 2019, 3:01 PM Justin Jia <notifications@github.com> wrote:

[2019-09-12 22:09] emreerhan commented on #18
No, that would make it a 20min walk

[2019-09-12 22:13] baraaorabi commented on #18
You'd basically walk in an infinitely thin area outside of GSC and
instantaneously walk back in

On Thu, Sep 12, 2019, 3:09 PM Emre Erhan <notifications@github.com> wrote:

[2019-09-12 22:20] baraaorabi commented on #18
Okie, so let's do VPC!

On Thu, Sep 12, 2019, 3:13 PM Baraa Orabi <baraaorabi@gmail.com> wrote:

[2019-09-12 22:38] bencardoen commented on #18
I'd need to skype in as well if possible

[2019-09-13 00:57] alexsweeten commented on #18
In front of VPC

[2019-09-13 01:09] jenjaelin commented on #18
where you all at??

[2019-09-13 01:28] klgray25 commented on #18
Hey guys - sorry I got caught up doing work! If you are still meeting please call me in

[2019-09-13 18:00] smaslova commented on #18
@hackseq/hs19_organizers Don't forget to vote on the doodle poll!  We will have 4 more organizational meetings, one per week leading up to the event.  Vote on the night of the week that works for you.

[2019-09-16 17:44] emreerhan opened #19 "Organizer availability to supervise hackseq"
Hi @hackseq/hs19_organizers,

Can you please copy and paste the following table and checkboxes and comment below to help us determine who will be supervising the actual event on the day of hackseq.

Let me know if you think we should include more information in these comments.

| Date             | Set-up  (8am-9am) | Morning (9am - 12pm)  | Afternoon (12pm - 5pm) |
| ------------|----------------

[2019-09-16 17:44] emreerhan commented on #19
| Date             | Set-up  (8am-9am) | Morning (9am - 12pm)  | Afternoon (12pm - 5pm) |
| ------------|---------------------|------------------------|-------------------------|
| October 18  | [X] | [X] | [] |
| October 19  | [] | [X] | [X] |
| October 20 | [] | [X] | [X] |

I will be either participating or leading a team at hackseq [X]

[2019-09-16 17:46] #11 closed

[2019-09-16 17:47] #13 closed

[2019-09-16 17:47] #15 closed

[2019-09-16 17:47] #16 closed

[2019-09-16 17:55] itsDagu commented on #19
Date | Set-up (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [x] | [ ] | [x]
October 19 | [x] | [x] | [x]
October 20 | [x] | [x] | [x]

I will be either participating or leading a team at hackseq [x]

[2019-09-16 18:34] klgray25 commented on #19
Date | Set-up (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [ ] | [ ] | [ ]
October 19 | [ x] | [ x] | [x ]
October 20 | [ x] | [ x] | [ x]

I will be either participating or leading a team at hackseq []

Note: I can be available later in the afternoon on the Friday, but not from 12-5.

[2019-09-16 18:38] smaslova commented on #19
| Date             | Set-up  (8am-9am) | Morning (9am - 12pm)  | Afternoon (12pm - 5pm) |
| ------------|---------------------|------------------------|-------------------------|
| October 18  | [x] | [x] | [x] |
| October 19  | [x] | [x] | [x] |
| October 20 | [x] | [x] | [x] |

I will be either participating or leading a team at hackseq [x]

[2019-09-16 19:50] alexsweeten commented on #19
Date | Set-up (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [x] | [x] | [x]
October 19 | [x] | [x] | [x]
October 20 | [x] | [x] | [x]

I will be either participating or leading a team at hackseq [x]

[2019-09-17 01:18] kfgibson commented on #19
Date | Set-up  (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [x] | [x] | [x]
October 19 | [ ] | [x] | [x]
October 20 | [ ] | [x] | [x]

I will be either participating or leading a team at hackseq [x]

[2019-09-17 03:45] scatcher125 commented on #19
I won't be there in person during Hackseq unfortunately, but I will likely be a remote participant.

DateSet-up (8am-9am)Morning (9am - 12pm)Afternoon (12pm - 5pm)October 18[ ][ ][ ]October 19[ ][ ][ ]October 20[ ][ ][ ]

I will be either participating or leading a team at hackseq [ x]

[2019-09-17 03:47] scatcher125 commented on #19
I won't be able to be present in person unfortunately, but I do plan to participate remotely.

[2019-09-17 03:49] baraaorabi commented on #19
| Date             | Set-up  (8am-9am) | Morning (9am - 12pm)  | Afternoon (12pm - 5pm) |
| ------------|---------------------|------------------------|-------------------------|
| October 18  | [x] | [x] | [x] |
| October 19  | [x] | [x] | [x] |
| October 20 | [x] | [x] | [x] |

I will be either participating or leading a team at hackseq [ ]

[2019-09-17 14:40] jenjaelin commented on #19
| Date             | Set-up  (8am-9am) | Morning (9am - 12pm)  | Afternoon (12pm - 5pm) |
| ------------|---------------------|------------------------|-------------------------|
| October 18  | [ x] | [ x] | [ ] |
| October 19  | [ x] | [x ] | [x ] |
| October 20 | [x ] | [x ] | [x ] |

I will be either participating or leading a team at hackseq [ ]

[2019-09-17 19:30] bfjia commented on #19
Date | Set-up  (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [x ] | [x ] | [x ]
October 19 | [x ] | [x ] | [x ]
October 20 | [x ] | [x ] | [x ]

I will be either participating or leading a team at hackseq [ x]

[2019-09-18 21:19] smaslova commented on #18
@hackseq/hs19_organizers based on the doodle poll and the fact that Baraa should probably be at the meetings, we'll do meetings every Thursday at 6pm starting next week and until the hackseq event.  Let me know if there are any objections.

[2019-09-18 21:19] smaslova opened #20 "10th Organizational Meeting - Tues. Sept. 24th 6pm"
Hey everyone! Next meeting will be on Tue, Sep 24, 6:00 pm at the VPC.

@baraaorabi could you make a room booking at the VPC?

# Agenda
- ordering shirts
- hackseq deliverable
- participant application
  - extension
  - second wave of advertising?
  - extra dates in form?
  - who will divide people into teams
- Add schedule to website

# Minutes

## Participant applications
- [ ] extend to next Th

[2019-09-18 23:09] baraaorabi commented on #20
Done!

On Wed, Sep 18, 2019, 2:20 PM smaslova <notifications@github.com> wrote:

[2019-09-18 23:19] arisgrout commented on #19
Date | Set-up (8am-9am) | Morning (9am - 12pm) | Afternoon (12pm - 5pm)
-- | -- | -- | --
October 18 | [x ] | [x ] | [x ]
October 19 | [x ] | [x ] | [x ]
October 20 | [x ] | [x ] | [x ]

I will be either participating or leading a team at hackseq [ x ]

[2019-09-18 23:20] arisgrout commented on #20
@smaslova @baraaorabi was there a doodle for this that I missed? I thought there would be a doodle for regular meetings moving forward :/ As mentioned during last meeting, I can't make Thursdays Sept. 26th onwards.

[2019-09-19 06:12] #17 closed

[2019-09-19 06:22] emreerhan commented on #20
@smaslova reminded me today that we have VanBUG on Thursday. @baraaorabi is that still next Thursday? If it is, we should move the date.

[2019-09-19 06:34] baraaorabi commented on #20
I guess since we have a majority for Tues on the Doodle let's do that instead. I have a class at UBC till 5, but that should be enough time to get back to VPC

[2019-09-19 10:40] scatcher125 commented on #20
I have class until 6:30 pst on both tue & thu, so I can join once it ends. I forgot to account for the time difference in the poll.

[2019-09-19 18:27] bencardoen commented on #20
So just to make sure, no meeting today but Tue instead?

[2019-09-19 18:33] baraaorabi commented on #20
The meeting was gonna be next Thurs. I guess now it will be two days earlier instead.

[2019-09-19 22:52] ababaian opened #21 "hackseq19 deliverable"
Hey @hs19_organizers + Team Leads,

I've been thinking a bit about the deliverables for hackseq this year. In the past it has been abstract + short talk, but with 15+ projects going, that's going to be very short talks and I'm afraid it might drag on for a while.

Maybe if we can get ping all team leads to chime in here and come to a consensus beforehand we can explore alternative deliverables. My

[2019-09-19 23:02] bencardoen commented on #21
Why not 3min lightning talks? I saw those on SBME at UBC few weeks ago, you have 2 slides and 3 minutes to summarize your research, so for the hackseq projects that should fit as well. 15x3 = 45, so within reasonable attention span.

[2019-09-19 23:09] baraaorabi commented on #21
Related but not exactly on topic: we had the idea that a project's readme
should be reviewed by some other project's member. If the external member
gets it, then they're good to go.

On Thu, Sep 19, 2019 at 4:02 PM bencardoen <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-09-19 23:36] ababaian commented on #21
3 minutes would be reasonable, sure. I guess I was thinking more in having the deliverable be something more permanent such that it can be shared in the future and be a record of what's going on. It would help kind of build up a base of 'what kind of projects are hackseq about', a question I've often gotten from people interested in hackseq.

[2019-09-19 23:56] bencardoen commented on #21
You could record the 3 minute presentations on ytube, vimeo ... ?

[2019-09-19 23:56] ababaian commented on #21
I think I will : P

[2019-09-20 05:00] alexsweeten commented on #21
Personally I don't like the lightning talks. I'd be down for having teams create an infographic or about page to showcase instead.

[2019-09-23 17:45] baraaorabi commented on #20
I just made the booking for tomorrow at VPC. Cya all tomorrow at 6!

[2019-09-23 20:09] klgray25 commented on #20
Sorry, but I will likely have to call in again

[2019-09-24 19:44] bfjia commented on #20
I shall Skype in to today's meeting too

[2019-09-24 19:46] scatcher125 commented on #20
I can skype in! Managed to completely confuse myself about timings. 6 pm is 9 pm for me, not 3 pm smh :/

[2019-09-24 21:47] klgray25 commented on #20
I can actually come in person now

[2019-09-24 22:05] baraaorabi commented on #20
Sweet! Cya all in 3 hours

On Tue, Sep 24, 2019, 2:47 PM klgray25 <notifications@github.com> wrote:

[2019-09-25 00:05] arisgrout commented on #20
I'll be skyping probably a few late sorry

[2019-09-25 00:08] kfgibson commented on #20
I am going to try to skype in, but I might not get home in time!

[2019-09-26 23:46] baraaorabi commented on #20
I sent out new email with the deadline extension.

@emreerhan can u get on the Slack & git pages?

[2019-09-26 23:52] emreerhan commented on #20
hackseq19 slack: https://join.slack.com/t/hackseq19/shared_invite/enQtNzc3MDAzOTczODMxLWZjZTA0ZGNjNDRkZDI4YWEyYTlkNjg2MGM1ZjQ5NTZhMTYxMjRlN2U4MTM0YzJjOGM5YjZhNzdmYWU4YmQ2YjM

I'll do github pages later

[2019-09-27 00:21] baraaorabi commented on #20
Ok I just sent an email to the teamleads with the slack link!

[2019-09-27 04:47] scatcher125 opened #22 "11th Organizational meeting - Tue, 1-Oct, 6 pm"
Next meeting will be Tuesday, 11-Oct-2019, 6:00 pm at VPC!

# Agenda
- Participant application sorting time/location
  - priorities?
- Shirt #'s, deco party
- Banner?
- people flying in priority
- Schedule/[To Do list](https://docs.google.com/spreadsheets/d/1WCH1sH033biQLzEx5FOq0BMQnSvGELoYuiMKNkeiDrU/edit?usp=sharing)

# Minutes

## Participation
- if reasonable give remote what they want
- if le

[2019-09-27 04:50] scatcher125 commented on #20
Updating the participant application form with the new deadline - Thu, 3rd Sep.

[2019-09-27 22:10] baraaorabi opened #23 "GitHub repos"
1.
2.
3.
4. https://github.com/schorlton/bugseq-web
5.
6.
7.
8.
9.
10. https://github.com/Lab41/hypothesis-bio
11.
12.
13.
14.
15.

[2019-09-27 22:10] baraaorabi commented on #23
@SweetiePi Can u add those to the website?

[2019-09-27 22:10] baraaorabi commented on #23
@emreerhan Can u add the git repos you're creating here?

[2019-09-30 22:45] baraaorabi commented on #22
Hey @hackseq/hs19_organizers! Something came and I won't be able to make for tomorrow's meeting. Can we either have:
- @emreerhan book a room at GSC instead? or
- move the meeting to either Wed or Thu?

[2019-09-30 22:53] oganm commented on #22
We also have free rooms at UBC

[2019-09-30 22:55] emreerhan commented on #22
I can book the GSC

[2019-10-01 16:56] bencardoen commented on #22
I can't make it, I have a paper rebuttal deadline, sorry.

[2019-10-01 18:03] baraaorabi commented on #22
Can we have a quick show of hands for who can make it in person to GSC today and who prefers Wed or Thurs? If we don't have clear result we should stick with the original time of today but at GSC.

[2019-10-01 18:08] itsDagu commented on #22
I won’t be there in person but will be Skyping in!

________________________________
From: baraaorabi <notifications@github.com>
Sent: Tuesday, October 1, 2019 11:03:56 AM
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: David Guo <david-guo@live.ca>; Team mention <team_mention@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 11th Organizational meeting - Tue, 1-Oct, 6 pm (#22)

Can we

[2019-10-01 18:11] baraaorabi commented on #22
I don't think we can set up Skype at GSC

[2019-10-01 18:12] smaslova commented on #22
I'm not feeling well so I don't think I'll make it today.

On Tue, Oct 1, 2019 at 11:08 AM David Guo <notifications@github.com> wrote:

[2019-10-01 18:57] emreerhan commented on #22
Yes we can't set up Skype at the GSC. I'll be there

[2019-10-01 20:12] klgray25 commented on #22
I can be there today. I don't think I can do Thursday this week anymore.

[2019-10-01 20:45] jenjaelin commented on #22
I can do either :)

[2019-10-01 21:00] arisgrout commented on #22
I can do today or Wednesday

[2019-10-01 21:01] baraaorabi commented on #22
Ok I guess let's just stick with today at GSC

On Tue, Oct 1, 2019, 2:00 PM Aris Grout <notifications@github.com> wrote:

[2019-10-01 21:28] emreerhan commented on #22
Hey @hackseq/hs19_organizers we'll be at the GSC today at 6pm. Unfortunately we don't have skype capability here, so no remote participants today. Please post updates below if you have any and are unable to attend.

[2019-10-01 21:30] bfjia commented on #22
unable to attend :(

[2019-10-01 21:48] jenjaelin commented on #22
@emreerhan is that just where we used to meet last year?

[2019-10-01 22:41] emreerhan commented on #22
No, it's at the Echelon building.

570 W 7th Ave, Vancouver, BC V5Z 4S6
I'll be waiting at the door at 6pm. If you arrive late, post on this thread and I'll come down to get you.

[2019-10-02 01:02] emreerhan commented on #22
Were upstairs now. Message here (or FB or something) if you arrive late

[2019-10-02 01:19] oganm commented on #22
Arrived late!

[2019-10-02 17:19] jenjaelin opened #24 "12th Organizational Meeting - Tues. Oct. 8th - To Do List up!"
Hi all, below are action items from the Oct. 1 meeting, please take a look and check off if it's completed

# To Do
## Everyone
- [ ] look over, add to and sign up for [To Do list](https://docs.google.com/spreadsheets/d/1WCH1sH033biQLzEx5FOq0BMQnSvGELoYuiMKNkeiDrU/edit?usp=sharing) for Hackseq set up
- [x] search for location for storage of hackseq things (shirts, gear, etc)
- [x] come up with ide

[2019-10-02 17:21] jenjaelin commented on #24
@smaslova 2 questions for you on availability:
1. if you're still interested in doing shirts, Emre and I are meeting at 2pm Saturday at BCCHRI, main entrance?

2. Thursday/Friday ~6pm okay for you to start going through participant sorting? Again, thinking of doing it at BCCHRI since 2/3 of us are here already.

[2019-10-02 17:27] smaslova commented on #24
Either Thursday or Friday works for me for participant sorting, BCCHRI
works for me although it might be nice to grab food.  I'll let you know
about the shirts dyeing.

On Wed, Oct 2, 2019 at 10:21 AM jenjaelin <notifications@github.com> wrote:

[2019-10-02 17:28] jenjaelin commented on #24
true. I was thinking of just ordering in via uber eats or something similar.
otherwise, any suggestions of where to go?

[2019-10-02 20:47] alexsweeten commented on #14
@ababaian Could you send me a vector file of your dark side of the moon design?

[2019-10-02 20:56] jenjaelin commented on #14
one of our competitions should be having people design next years' stickers

On Wed, Oct 2, 2019 at 1:47 PM Alex Sweeten <notifications@github.com>
wrote:

[2019-10-02 21:00] alexsweeten commented on #14
Alternatively: Assign 1 person on each team to design a sticker that represents their project. Can print out their design as a reward.

[2019-10-02 21:08] jenjaelin commented on #14
that'd be fun too

On Wed, Oct 2, 2019 at 2:00 PM Alex Sweeten <notifications@github.com>
wrote:

[2019-10-02 21:35] bfjia commented on #24
@smaslova can you please also inquire about extra tables too?

[2019-10-02 21:58] jenjaelin commented on #24
@smaslova @oganm

Would you two terribly mind doing tomorrow ~6pm? I likely won't be available for too long Friday evening, have some people to pick up at the airport. If it goes on longer than expected, we could split it over an extra hour ish for Friday?

[2019-10-02 22:03] oganm commented on #24
@smaslova @jenjaelin

oh well thursday seems like the best option then. was just trying to avoid skipping dungeons and dragons.

[2019-10-02 22:05] smaslova commented on #24
We already got the extra tables.  How many extra chairs do we need?

On Wed, Oct 2, 2019 at 2:35 PM Justin Jia <notifications@github.com> wrote:

[2019-10-02 22:33] oganm commented on #14
can we print out their design? do we have sticker making machinery?

[2019-10-02 22:43] alexsweeten commented on #14
No, we'd order from a printing company post-hackathon.

[2019-10-02 23:11] alexsweeten commented on #14
If anyone has anything else you'd like printed I'm doing a bulk sticker order tomorrow. Let me know!

[2019-10-03 19:21] jenjaelin commented on #24
@oganm if you show up at BCCHRI (950 W 28th ave) and the main doors are locked, give me a text/call at (519) 498-1555

[2019-10-03 19:23] smaslova commented on #24
Let's all meet in the lobby at 6pm?

[2019-10-03 19:46] jenjaelin commented on #24
sounds good!

On Thu, Oct 3, 2019 at 12:23 PM smaslova <notifications@github.com> wrote:

[2019-10-04 01:00] oganm commented on #24
@jenjaelin @smaslova North enterence?

[2019-10-04 20:54] jenjaelin commented on #24
if anyone is joining @emreerhan and I for shirt making tomorrow, meeting at the main entrance of BCCHRI at 2pm tomorrow. Wear something you're not too worried about getting paint on. Otherwise, see y'all Tuesday and hopefully we'll have sweaters with us :D

[2019-10-04 21:04] emreerhan commented on #24
I believe @baraaorabi will be joining us too

[2019-10-04 21:08] baraaorabi commented on #24
I'm @ 60% joining

On Fri, Oct 4, 2019 at 2:04 PM Emre Erhan <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-10-04 22:01] jenjaelin commented on #24
I am 60% excited for it

[2019-10-04 22:05] baraaorabi commented on #24
I hope the two 60%'s have 100% overlap 🙃

[2019-10-05 21:49] smaslova commented on #24
Hey which room are you guys in? I'm trying to find you but I cant remember
the floor or room number.

On Fri, Oct 4, 2019, 3:05 PM baraaorabi, <notifications@github.com> wrote:

[2019-10-07 20:03] jenjaelin commented on #24
@baraaorabi just double checking that we have a room for tomorrow?

[2019-10-07 22:12] baraaorabi commented on #24
Yep it's booked

On Mon, Oct 7, 2019 at 1:03 PM jenjaelin <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-10-08 21:34] emreerhan commented on #24
Completely forgot about this, but I can't attend the meeting today. There's a graspods career fair that I'm attending.

[2019-10-08 23:05] arisgrout commented on #24
Are we at VPC?

[2019-10-08 23:10] bencardoen commented on #24
I can't attend either, working on rebuttal deadline

[2019-10-08 23:54] baraaorabi commented on #24
Hi! I might be 5-10min late (coming from UBC)

[2019-10-09 01:01] scatcher125 commented on #24
There's a powercut here unfotunately so I don't have wifi at the moment. Ill try to join in on the skype call as soon as its back on (which will hopefully be soon)

[2019-10-09 01:11] smaslova commented on #24
I'm at vpc, is everyone upstairs already?

On Tue, Oct 8, 2019, 4:55 PM baraaorabi, <notifications@github.com> wrote:

[2019-10-09 01:11] scatcher125 commented on #24
is anyone else attending remotely?

[2019-10-09 01:12] bfjia commented on #24
Meee!

This message is kept short as it was send via mobile.

-------- Original message --------
From: scatcher125 <notifications@github.com>
Date: 2019-10-08 18:11 (GMT-08:00)
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 12th Organizational Meeting - Tues. Oct. 8th - To D

[2019-10-09 01:12] itsDagu commented on #24
Yes, I’m skyping in.

________________________________
From: scatcher125 <notifications@github.com>
Sent: Tuesday, October 8, 2019 6:11:41 PM
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 12th Organizational Meeting - Tues. Oct. 8th - To Do List up! (#24)

is anyone else attending remotely?

—
You are receiving

[2019-10-09 01:16] smaslova commented on #24
Can someone let me in please? Waiting downstairs at VPC.

On Tue, Oct 8, 2019, 6:12 PM David Guo, <notifications@github.com> wrote:

[2019-10-09 01:21] bfjia commented on #24
I'm having trouble connecting to Skype. I don't have much to bring up, msg me if anything is needed pls

-------- Original message --------
From: smaslova <notifications@github.com>
Date: 2019-10-08 18:16 (GMT-08:00)
To: hackseq/hackseq19 <hackseq19@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [hackseq/hackseq19] 12th Organi

[2019-10-09 17:39] jenjaelin commented on #24
FYI:
[EPFL internship for BSc/MSc](https://www.epfl.ch/education/international/en/coming-to-epfl/research-internships/) - somewhere in there is a link to other internships at EPFL
- Unfortunately SFU isn't a partner school (for the linked internship only), try to sneak in under UBC?

[visiting Doctoral Students](https://www.epfl.ch/education/phd/doctoral-studies-structure/customized-curricula/agre

[2019-10-09 19:50] arisgrout opened #25 "Participant Emails"
Hey @hackseq/hs19_organizers,

Draft participant email for Saturday here: [8a_FinalDetails_2019](https://docs.google.com/document/d/1Hex05oRXR4WnjGciTxN-87IvUbGGbYzzBtirXcqrf08/edit?usp=sharing)

* Please take a look and comment if anything is missing. In particular:
- @SweetiePi could you add links to the schedule & sponsor page (if these exist)
- @klgray25 social details & links
- @baraaorabi sl

[2019-10-09 22:41] #20 closed

[2019-10-09 22:41] #22 closed

[2019-10-11 04:49] baraaorabi commented on #23
GitHub repos are here: https://github.com/hackseq/hackseq19/blob/master/README.md

[2019-10-11 04:50] #23 closed

[2019-10-11 04:59] #21 closed

[2019-10-15 18:02] jenjaelin opened #26 "13th Organizational Meeting - Last Minute Things"
#TO DO:
## Everyone:
- [ ] Sign up on [To Do list](https://docs.google.com/spreadsheets/d/1WCH1sH033biQLzEx5FOq0BMQnSvGELoYuiMKNkeiDrU/edit?usp=sharing)

- [ ] add your phone number to the private repo home page

- [ ] add yourself to hackseq slack

## Individuals:

### Jenny

- [x] create team sitting chart and bring (or send to someone) before 8:30 on Friday
- [ ] bring team lead t-shirts on Fri

[2019-10-15 18:10] jenjaelin commented on #26
Heya! I can't make it today but I made up a list of things that I thought should be covered. Please add.

Also assign me to things if needed :) See y'all bright and early on Friday :)

[2019-10-15 18:19] baraaorabi commented on #26
Thanks Jen! Cya all @ 6 this evening

On Tue, Oct 15, 2019, 11:10 AM jenjaelin <notifications@github.com> wrote:

[2019-10-15 19:11] oganm commented on #26
which building?

[2019-10-15 19:44] emreerhan commented on #26
Are we at the VPC @baraaorabi ?

Btw, talked to labops at the GSC. We can probably store swag at the GSC's storage centre on Terminal Ave. Will bring it up during the meeting today.

[2019-10-15 19:54] baraaorabi commented on #26
@oganm @emreerhan Yep, @ VPC today

I already commented, but sending out from my email isn't working for some reason.

[2019-10-15 23:40] bencardoen commented on #26
Sorry, I can't make it tonight

[2019-10-16 03:15] smaslova commented on #26
@hackseq/hs19_organizers  Minutes and to-do list are up! Look it over to make sure I didn't miss anything.  3 days to go!

[2019-10-16 18:31] jenjaelin commented on #26
@baraaorabi what's the current layout (chairs per table) in the LSI?

[2019-10-16 18:34] baraaorabi commented on #26
6 long tables. Didn't count the chairs, but there are 50+ chairs in the
classroom to use

On Wed, Oct 16, 2019 at 11:31 AM jenjaelin <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-10-16 19:03] emreerhan opened #27 "Long term storage"
This thread is to discuss options for long term storage for our swag.

[2019-10-16 19:04] emreerhan commented on #27
I messaged head of LabOps at the GSC. His response:

I said Terminal Ave storage would be fine for us. For time frame, I said ideally it would be in the scale of years rather than months. I'll update when he responds.

[2019-10-16 19:05] itsDagu commented on #27
I can offer to store it at my place if there’s not too much! I live on UBC campus (not student residence) and will probably be living here for a while.

[2019-10-17 02:04] baraaorabi commented on #26
Jen, r u making the seating chart?

On Wed, Oct 16, 2019 at 11:34 AM Baraa Orabi <baraaorabi@gmail.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-10-17 02:10] baraaorabi commented on #26
@klgray25 I'm writing announcements [here](https://docs.google.com/document/d/1Oh6lu6dnPprZrgX8cXRFoCBjUgxhaBzNzvDC4JMTThc/edit#)

[2019-10-17 02:26] baraaorabi commented on #26
@emreerhan can u add missing ORCA details [here ](https://docs.google.com/document/d/1Oh6lu6dnPprZrgX8cXRFoCBjUgxhaBzNzvDC4JMTThc/edit#)too?

[2019-10-17 05:05] jenjaelin commented on #26
Yah I’ll have it for Friday morning, if not by tomorrow afternoon

[2019-10-17 21:47] emreerhan commented on #27
Great news! Paul says we can have some space at the GSC (onsite!) for a year. He said we can drop the boxes off at receiving whenever we'd like.

[2019-10-17 21:48] emreerhan commented on #27
He said it's unclear whether we'd have to vacate after a year, but we can check with them again next year. He said in the worst case we can always store it at Terminal Ave. The issue is that accessing the storage there can be quite a nuisance apparently.

[2019-10-17 21:53] jenjaelin commented on #27
woop woop! thanks for looking into this Emre!

[2019-10-17 21:55] jenjaelin commented on #26
I did the attendance sheet as 1 total one rather than one per team... mostly cuz it looks super awkward when there's only 2-3 people on it :P I figure people can come sign in with us before they go see their team?

[2019-10-17 21:57] baraaorabi commented on #26
Hmm maybe join each table of the six in one paper?

On Thu, Oct 17, 2019 at 2:55 PM jenjaelin <notifications@github.com> wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2019-10-17 21:58] jenjaelin commented on #26
sure

@arisgrout what team is Almas Khan on? I have him on 2 separate ones...

[2019-10-17 22:42] jenjaelin commented on #26
Done

Jennifer Lin

[2019-10-27 02:42] SweetiePi opened #31 "hs19 photos"
Photos from my camera are up on our Google Drive :)

![IMG_1100](https://user-images.githubusercontent.com/7028404/67628802-9a24e400-f828-11e9-93e8-b0afd92acf80.JPG)

[2019-10-27 06:01] baraaorabi commented on #31
Thanks for the awesome pics Alex!

@hackseq/hs19_organizers should we send a link to the pics to the participants in a post-hackseq19 wrap up email?

[2019-10-27 06:01] #14 closed

[2019-10-27 06:02] #18 closed

[2019-10-27 06:02] #19 closed

[2019-10-27 06:02] #24 closed

[2019-10-27 06:02] #26 closed

[2019-10-28 17:24] ababaian commented on #31
That photo is like an album cover for a very nerdy punk band ;)

[2019-10-28 18:11] jenjaelin commented on #31
thanks for sorting all the pics Alex, I definitely was just taking them haphazardly XD

[2019-10-28 18:14] alexsweeten commented on #31
Your photos were great @jenjaelin. Unfortunately whoever took the group photo of everyone did a blurry job :(

[2019-10-28 18:16] jenjaelin commented on #31
ah well. it happens. just keep the photo small for the site XD

[2019-10-28 18:19] jenjaelin commented on #31
I need to photoshop Kristen and  Baraa (?) into each other's places to appease my OCD XD

[2019-11-12 22:08] ababaian commented on #31
@SweetiePi Are you planning on updating the website with the final team photo?

[2019-11-13 18:20] alexsweeten commented on #31
@ababaian Yes, I thought I did that already :face_with_head_bandage:. Will be up today.